Carga de librerias

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

plt.style.use('ggplot')
%matplotlib inline

a continuacion cargamos y limpiamos los datos
Elijo Hora inicio sumado a minutos

In [10]:
df = pd.read_csv('resul.csv')


print("\nInformación del tipo de datos:")

df['Hora_Inicio'] = pd.to_datetime(df['Hora_Inicio'], format='%H:%M:%S')
df['Hora_Entera'] = df['Hora_Inicio'].dt.hour
df['Minuto_Entrada'] = df['Hora_Inicio'].dt.minute
# df.info()
# Seleccionamos las columnas útiles para el Clustering
# NO usamos 'Hora_Inicio' (texto) ni 'Dia_Semana' (texto).
# Usamos las versiones numéricas.
features = ['Total_Vehiculos', 'Tiempo_Medio_s', 'Ocupacion_Espacial_%', 'Hora_Entera', 'Dia_Semana','Direccion']

X = df[features]
print("\nDatos listos para escalar:")
display(X.head())

Información del tipo de datos:

Datos listos para escalar:

,Total_Vehiculos,Tiempo_Medio_s,Ocupacion_Espacial_%,Hora_Entera,Dia_Semana,Direccion
0,9,3.74,20.96,7,4,3
1,7,4.02,17.87,7,4,4
2,3,1.90,7.46,7,4,2
3,7,4.23,19.05,8,4,1
4,8,1.80,20.82,8,4,3

Escalado de Datos: se preparan los datos y se colocan todas las variables en una escala para su procesado

In [ ]:
scaler = StandardScaler() 
X_scaled = scaler.fit_transform(X) 
X_scaled_df = pd.DataFrame(X_scaled, columns=features)

print("Datos escalados correctamente.") display(X_scaled_df.head())